@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  /* Primary */
  --color-primary: oklch(49.015% 0.2076 317.97);
  --color-primary-50: oklch(77.859% 0.12659 319.25);
  --color-primary-100: oklch(74.165% 0.14778 319.07);
  --color-primary-200: oklch(67.401% 0.1902 319.14);
  --color-primary-300: oklch(61.265% 0.22579 318.6);
  --color-primary-400: oklch(55.856% 0.23948 317.79);
  --color-primary-500: oklch(49.015% 0.2076 317.97);
  --color-primary-600: oklch(39.153% 0.16232 317.81);
  --color-primary-700: oklch(28.738% 0.11262 318.92);
  --color-primary-800: oklch(17.424% 0.05408 318.95);
  --color-primary-900: oklch(0% 0 none);
  --color-primary-950: oklch(0% 0 none);



  /* Secondary */
  --color-secondary: oklch(69.926% 0 none);
  --color-secondary-50: oklch(98.51% 0 none);
  --color-secondary-100: oklch(95.514% 0 none);
  --color-secondary-200: oklch(89.143% 0 none);
  --color-secondary-300: oklch(82.968% 0 none);
  --color-secondary-400: oklch(76.358% 0 none);
  --color-secondary-500: oklch(69.926% 0 none);
  --color-secondary-600: oklch(60.662% 0 none);
  --color-secondary-700: oklch(51.028% 0 none);
  --color-secondary-800: oklch(40.912% 0 none);
  --color-secondary-900: oklch(30.118% 0 none);
  --color-secondary-950: oklch(24.353% 0 none);

  /* Accent */
  --color-accent: oklch(56.453% 0.16335 253.27);
  --color-accent-50: oklch(84.677% 0.06344 248.58);
  --color-accent-100: oklch(81.392% 0.078 248.81);
  --color-accent-200: oklch(74.942% 0.10719 249.43);
  --color-accent-300: oklch(68.649% 0.13495 249.87);
  --color-accent-400: oklch(62.621% 0.16241 252.19);
  --color-accent-500: oklch(56.453% 0.16335 253.27);
  --color-accent-600: oklch(46.521% 0.13124 252.9);
  --color-accent-700: oklch(36.034% 0.09696 252.27);
  --color-accent-800: oklch(24.453% 0.06048 252.2);
  --color-accent-900: oklch(10.965% 0.0177 236.44);
  --color-accent-950: oklch(0% 0 none);


  /* Background */
  --color-background: oklch(100% 0 none);
  --color-background-50: oklch(100% 0 none);
  --color-background-100: oklch(100% 0 none);
  --color-background-200: oklch(100% 0 none);
  --color-background-300: oklch(100% 0 none);
  --color-background-400: oklch(100% 0 none);
  --color-background-500: oklch(100% 0 none);
  --color-background-600: oklch(91.583% 0 none);
  --color-background-700: oklch(82.968% 0 none);
  --color-background-800: oklch(74.123% 0 none);
  --color-background-900: oklch(65.004% 0 none);
  --color-background-950: oklch(60.325% 0 none);


  /* Text */
  --color-text: oklch(22.213% 0 none);
  --color-text-50: oklch(56.926% 0 none);
  --color-text-100: oklch(53.476% 0 none);
  --color-text-200: oklch(46.04% 0 none);
  --color-text-300: oklch(38.665% 0 none);
  --color-text-400: oklch(30.519% 0 none);
  --color-text-500: oklch(22.213% 0 none);
  --color-text-600: oklch(0% 0 none);
  --color-text-700: oklch(0% 0 none);
  --color-text-800: oklch(0% 0 none);
  --color-text-900: oklch(0% 0 none);
  --color-text-950: oklch(0% 0 none);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0, ;
  padding: 0;
  width: 100%;
}